<div class="bug-details-container">
    <br>
    <div class="top-details-nav-container"> 
    <div class="button-container"> 
      <div class="issue-btn"> <button class="back" mat-raised-button color="primary" routerLink="/list">Back</button> </div> <!--table-header-->

     
      </div> <!--button container end-->
    </div>
    <table>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Reporter</th>
          <th>Type </th>
          <th>Status</th>
        </tr>
        <tr>
          <td> {{  bugData?.title  }}  </td>
          <td> {{  bugData?.description }} </td>
          <td>  {{ bugData?.reporter  }}  </td>
          <td>  {{ bugData?.type  }} </td>
          <td>  {{ bugData?.status    }} </td>
        </tr> 
      </table>

  </div>