

<div class="bug-details-container">
    <br>
    <div class="top-details-nav-container"> 
    <div class="button-container"> 
      <div class="issue-btn"> <button class="back" mat-raised-button color="primary" routerLink="/list">Back</button> </div> <!--table-header-->

     
      </div> <!--button container end-->
    </div>

    <div class="details-contain">  
  
    <div class="outer-inner-container"> 
    <div class="inner-details-container"> 
    <div class="header-container"> <h1 class="issue-title"> <span> {{bugData?.title}} </span></h1>  
  </div>
  <div class="reporter-type-container">  <p class="reporter">  reported by {{ bugData?.reporter  }} </p>  
  <div class="type-container"> <span style="padding-right:25px;"> {{ bugData?.type  }}  </span> <span> {{ bugData?.status }}  </span>    </div>
  
  </div>

     <mat-divider></mat-divider>
    <div class="content-body"> {{ bugData?.description }}  </div>
    </div>
    </div>


<div class="outer-comments-container"> 
<mat-divider> </mat-divider>

<div class="comment-container">  


  <br>
  <br>
  <mat-card style="box-shadow:none;">
    <section class="mat-typography">
      <h3 style="color: #979797">Write comment</h3>
    </section>
   
    <div *ngIf="newComment.indexOf(bugData?._id)"> 
    <form [formGroup]="commentForm" class="create-comment">


      <div class="commenter"> 
      <!----  <mat-form-field class="field-full-width"> -->
          <input class="commenter-box" matInput placeholder="your name" formControlName="commenter" #commenter>
        
        <!--</mat-form-field>-->
      </div>

  <div class="comment"> <textarea class="comment-box" placeholder="description" formControlName="comment" #comment> </textarea> </div>


      <br>
      
   <div class="comment-button-container"> <button class="post-comment-btn" type="submit" (click)="postComment(bugData?._id)" [disabled]="postComment.pristine || postComment.invalid" mat-raised-button color="primary">Post Comment</button> </div>

    <br> <br>
    </form>
  </div>



  <div>
    <li style="list-style: none;" *ngFor="let comment of bugData.comments"> 
   <div class="comment-body"> <strong class="top-comment"> {{comment.commenter}} <span class="comment-date"> {{ bugData?.status }} </span> </strong>  {{comment.comment}}  </div>

    </li>
  </div>

  </mat-card> 

  




</div>   

</div> <!--Outer comments container-->



  </div> <!--End of details container-->

</div>




















  <!--    <table>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Reporter</th>
          <th>Type </th>
          <th>Status</th>
        </tr>
        <tr>
          <td> {{  bugData?.title  }}  </td>
          <td> {{  bugData?.description }} </td>
          <td>  {{ bugData?.reporter  }}  </td>
          <td>  {{ bugData?.type  }} </td>
          <td>  {{ bugData?.status    }} </td>
        </tr> 
      </table>-->