.bug-list-container {

    margin-right: auto;
    margin-left: auto;
    max-width: 1012px;
    
.outer-form-container {

    background-color: #484848;
    margin-bottom: 15px;
    padding-bottom: 9px;
    padding-right: 9px;
    padding-left: 17px;
    padding-top: 19px;
    padding-right: 9px; 
    border-radius: 10px; 


    .form-container {
        display: flex;
        width: 65%;
        padding-bottom:20px;

        .input {
            width: 100%;
        }

        .button-container {
            display: flex;
            width: 77%;
            justify-content: flex-end;
        }

    form {
        display: flex;
    }
    }

}

// End of outer-form-container


.table {
    width: 100%;
    background-color: #484848;

    

    th.mat-header-cell {
        text-align: center;
        font-size: 16px;
        color: #ffffff;
    }   

    a:visited {
        color: #D3D3D3; //#E8E8E8;//#0052cc;    //#3399FF
    }

    .mat-cell {
        
        color: #A9A9A9;
    }


}


.new-issue {

    background-color: #f2a900;
}



} //bug list container end



