
<div class="outer-create-container">
    <br>
   <!--- <mat-card> -->
     <div class="inner-create-container"> 
      <section class="mat-typography">
     <div style="display: flex; justify-content: center;"> <h2 style="color: #ffffff">Login</h2> </div>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="loginUser" class="create-form">

        <div class="field-container"> 
          <label class="label-name">Username</label>
        <input placeholder="Username" formControlName="name" #name>
        </div>

      

          <div class="field-container"> 
            <label class="label-name"> Password </label>
          <input style="padding: 6px 12px" placeholder="password" formControlName="password" #password>
          </div>          

        

        <br><br>
        <button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp;
        <button style="background-color:#f2a900; color:000"type="submit" (click)="login()" [disabled]="loginUser.pristine || loginUser.invalid" mat-raised-button color="primary">Submit</button>
      </form>

      <!--(click)="addUser(name.value, password.value, platform.value)"-->


    </div> <!--End of inner container -->

<!--</mat-card> -->


  </div>