

.label-name {
    padding-right: 5px;
    color: #ADADAD;
  
}

.field-container {
    padding-bottom: 14px;
    display: flex;
    flex-direction: column;
}

.input {
    font-size: large;
}

.register {
    padding-top: 12px;
}

.register-wrapper {
    padding-top: 30px;
}

.register-now {
    color: #ffffff;
    margin-bottom: 0;
}