<div>
    <br>
    <mat-card>
      <section class="mat-typography">
        <h3>Create A New Bug</h3>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="createForm" class="create-form">
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Bug Title" formControlName="title" #title>
  
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Reporter" formControlName="reporter" #reporter>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <textarea matInput placeholder="Description" formControlName="description" #description></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Issue type" formControlName="type" #type>
              <mat-option value="Bug">Bug</mat-option>
              <mat-option value="Feature">Suggestion</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field> 
        <input matInput type="status" formControlName="status" #status readonly>
    </mat-form-field>
        

        <mat-divider></mat-divider>
        <br><br>
        <button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp;
        <button type="submit" (click)="addBug(title.value, reporter.value, description.value, type.value, status.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Save</button>
      </form>
    </mat-card>
  </div>