
<div class="outer-create-container">
    <br>
   <!--- <mat-card> -->
     <div class="inner-create-container"> 
      <section class="mat-typography">
     <div style="display: flex; justify-content: center;"> <h2 style="color: #ffffff">Create A Ticket</h2> </div>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="createForm" class="create-form">

        <div class="field-container"> 
          <label class="label-name">Your name</label>
        <input placeholder="Name" formControlName="reporter" #reporter>
        </div>

      
      <div class="field-container"> 
        <div style="width: 100%"> 
          <label class="label-name"> Issue Type </label>
          <select placeholder="Issue type" formControlName="type" #type style='max-width:100%; width: 100%; padding: 6px 12px;'>
            <option value="" disabled selected> - </option>
            <option value="Bug"> Bug</option>
            <option value="Feature">Suggestion</option>
            <option value="Other">Other</option>
          </select>
        </div> </div>

          <div class="field-container"> 
            <label class="label-name"> Subject </label>
          <input style="padding: 6px 12px" placeholder="Title" formControlName="title" #title>
          </div>          


         <div> 
           <label class="label-name"> Description </label>
         <textarea required class="description-field-container" placeholder="Description" formControlName="description" #description></textarea> </div>

       
        
        <div class="status-container" style="display: none;"> 
        <mat-form-field style="opacity:0"> 
        <input matInput type="status" formControlName="status" #status readonly>
    </mat-form-field> </div>
        

        <br><br>
        <button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp;
        <button style="background-color:#f2a900; color:000"type="submit" (click)="addBug(title.value, reporter.value, description.value, type.value, status.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Save</button>
      </form>


    </div> <!--End of inner container -->

<!--</mat-card> -->


  </div>